
@media screen and (min-width: 768px) {
  


  .top-nav-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;

    & li {
      margin: 0;
    }
flex-direction: column;

  }
.desigen {
  flex-direction: column;
}

.foto {

  &__portf {
    height: 100%;
      width: 100%;
  }
}
  
}
