@media screen and (min-width: 768px) {
  .top-nav-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column;
  }
  .menu li {
    margin: 0;
  }
  .desigen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foto__portf {
    height: 100%;
    width: 100%;
  }
}
